@font-face {
  font-family: 'nadia_serif';
  src: url("../fonts/nadia_serif.ttf");
}

@font-face {
  font-family: 'Porpora-Regular';
  src: url("../fonts/Porpora-Regular.woff");
}

@font-face {
  font-family: 'Coconat-BoldExt';
  src: url("../fonts/Coconat-BoldExt.woff");
}

@font-face {
  font-family: 'Coconat-Regular';
  src: url("../fonts/Coconat-Regular.woff");
}

@font-face {
  font-family: 'nadia_serif';
  src: url("../fonts/nadia_serif.ttf");
}

@font-face {
  font-family: 'Euripides-SemiBold_web';
  src: url("../fonts/Euripides-SemiBold_web.woff");
}

@font-face {
  font-family: 'zarathustra-v01';
  src: url("../fonts/zarathustra-v01.otf");
}

@font-face {
  font-family: 'Quando-Regular';
  src: url("../fonts/Quando-Regular.ttf");
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url("../fonts/PTSerif-Bold.ttf");
}

@font-face {
  font-family: 'PTSerif-BoldItalic';
  src: url("../fonts/PTSerif-BoldItalic.ttf");
}

@font-face {
  font-family: 'PTSerif-Italic';
  src: url("../fonts/PTSerif-Italic.ttf");
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url("../fonts/PTSerif-Regular.ttf");
}

@font-face {
  font-family: 'Ovo-Regular';
  src: url("../fonts/Ovo-Regular.ttf");
}

@font-face {
  font-family: 'iAWriterMonoS-Bold';
  src: url("../fonts/iAWriterMonoS-Bold.woff");
}

@font-face {
  font-family: 'NationalPark-Heavy';
  src: url("../fonts/NationalPark-Heavy.otf");
}

@font-face {
  font-family: 'NationalPark-Regular';
  src: url("../fonts/NationalPark-Regular.otf");
}

@font-face {
  font-family: 'NationalPark-Thin';
  src: url("../fonts/NationalPark-Thin.otf");
}
